In [4]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')

train.shape

# iloc method from pandas
train_train = train.iloc[:712, :]
train_test = train.iloc[712:, :]

In [5]:
train_train = train_train.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [6]:
train_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null object
Age            565 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       711 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 50.1+ KB

In [7]:
train_train = train_train.dropna()

In [8]:
train_train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [9]:
train_train['Sex'] = train_train['Sex'].map({'female':0, 'male':1})

In [10]:
train_train['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [11]:
train_train['Embarked'] = train_train['Embarked'].map({'C':1, 'S':2, 'Q':3})

In [12]:
train_train.head(10)

    PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0             1         0       3    1  22.0      1      0   7.2500         2
1             2         1       1    0  38.0      1      0  71.2833         1
2             3         1       3    0  26.0      0      0   7.9250         2
3             4         1       1    0  35.0      1      0  53.1000         2
4             5         0       3    1  35.0      0      0   8.0500         2
6             7         0       1    1  54.0      0      0  51.8625         2
7             8         0       3    1   2.0      3      1  21.0750         2
8             9         1       3    0  27.0      0      2  11.1333         2
9            10         1       2    0  14.0      1      0  30.0708         1
10           11         1       3    0   4.0      1      1  16.7000         2

In [13]:
train_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564 entries, 0 to 710
Data columns (total 9 columns):
PassengerId    564 non-null int64
Survived       564 non-null int64
Pclass         564 non-null int64
Sex            564 non-null int64
Age            564 non-null float64
SibSp          564 non-null int64
Parch          564 non-null int64
Fare           564 non-null float64
Embarked       564 non-null int64
dtypes: float64(2), int64(7)
memory usage: 44.1 KB

In [14]:
X_train = train_train.iloc[:, 2:].values
Y_train = train_train['Survived']

In [16]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=0)

In [18]:
model = model.fit(X_train, Y_train)

In [19]:
train_test = train_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

train_test = train_test.dropna()

train_test['Sex'] = train_test['Sex'].map({'female':0, 'male':1})
train_test['Embarked'] = train_test['Embarked'].map({'C':1, 'S':2, 'Q':3})

X_test = train_test.iloc[:, 2:]
Y_test = train_test['Survived']

In [21]:
Y_prediction = model.predict(X_test)

In [22]:
np.sum(Y_prediction == Y_test)

123

In [23]:
np.sum(Y_prediction == Y_test) / float(len(Y_test))

0.83108108108108103

In [24]:
np.sum(Y_test) / float(len(Y_test))

0.39189189189189189