In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv')

df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

age_median = df['Age'].median()
df['Age'] = df['Age'].fillna(age_median)

df['Embarked'] = df['Embarked'].fillna('S')

df['Sex'] = df['Sex'].map({'female':0, 'male':1})

In [2]:
pd.get_dummies(df['Embarked'], prefix='Embarked').head(10)

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1
5           0           1           0
6           0           0           1
7           0           0           1
8           0           0           1
9           1           0           0

In [3]:
df = pd.concat([df, pd.get_dummies(df['Embarked'], prefix='Embarked')], axis=1)

In [7]:
df = df.drop(['Embarked'], axis=1)
df.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,1,22.0,1,0,7.2500,0,0,1
1,2,1,1,0,38.0,1,0,71.2833,1,0,0
2,3,1,3,0,26.0,0,0,7.9250,0,0,1
3,4,1,1,0,35.0,1,0,53.1000,0,0,1
4,5,0,3,1,35.0,0,0,8.0500,0,0,1
5,6,0,3,1,28.0,0,0,8.4583,0,1,0
6,7,0,1,1,54.0,0,0,51.8625,0,0,1
7,8,0,3,1,2.0,3,1,21.0750,0,0,1
8,9,1,3,0,27.0,0,2,11.1333,0,0,1
9,10,1,2,0,14.0,1,0,30.0708,1,0,0

In [8]:
df_train = df.iloc[:712, :]
df_test = df.iloc[712:, :]

X_train = df_train.iloc[:, 2:].values
Y_train = df_train['Survived']

In [9]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=0)
model = model.fit(X_train, Y_train)

In [13]:
X_test = df_test.iloc[:, 2:].values
Y_test = df_test['Survived']

Y_prediction = model.predict(X_test)

In [14]:
np.sum(Y_prediction == Y_test) / float(len(Y_test))

0.82122905027932958